body{
  font-family: 'Fredoka one', cursive;
  font-size: xx-large;
  background-color: #e0f0ff;
  text-align: center;

}

h1{
  color: darkblue;
}
.round-timer {
  font-family: 'Fredoka One', cursive;
  font-size: xx-large;
  font-weight: bold;
  color: rgb(59, 138, 164);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-shadow: 0 5px 10px ;
  display: flex;
}

.timer-button {
  color: rgb(59, 138, 164);
  width: 100px;
  height: 70px;
  align-items: center;
  justify-content:center;
  display: flex;
  margin: auto;
  font-family: 'Fredoka One', cursive;
  border-radius: 30px;
  gap: 8px;
  cursor: pointer;
}

/*  start button */
#startBtn{
  background-color: b4f7c6;
}
#startBtn:hover {
  background-color: #c9ffd8;
  transform: scale(1.07);
}

/*  pause button */

#pauseBtn {
  background-color: #ffe8a8;
}
#pauseBtn:hover {
  background-color: #fff1c4;
  transform: scale(1.07);
}


/* RESET button  - soft pink */
#resetBtn {
  background-color: #ffb3c6;   
  color: #7a1028;
}

#resetBtn:hover {
  background-color: #ffc6d5;
  transform: scale(1.07);
}

/* cute press squish */
.timer-button button:active {
  transform: scale(0.93);
}
/*  paragrpah style */
p{
  color: rgb(95, 190, 198);
}

.distraction-list{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 200;
  left: 0;
}

.distraction-list h2{
  font-family: 'Fredoka One', cursive;
  text-align: left;
  padding: 10px;
  color: darkblue;
  padding: 0;
  margin: 0;
}

.distraction-box{
  border: #e0f0ff;
  border-radius: 30px;
  padding: 30px;
  width: 300px;
  height: 300px;
  background-color: rgb(187, 234, 238);
}

.distraction-list{
  border: 0;
  border-top: 2px solid;
  margin: 10px;
}


